 /* Toggle Styles */
 .navbar {
   position:fixed;
   width: 100%;
   height: 8%;
   background-color: #f0f0f0f0;
   z-index: 1000;
   padding: 0 .4em;
 }

 .navbar-toggler{
   padding: .25rem;
 }
 .navbar-toggler-icon{
   height: 1.2em;
 }
 .main{
  background-image: url(./imagenes/mapa.png);
  height: 100vh;
  background-size: cover
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-left: white 2px solid;
}
 .navbar-brand>img{
   height: 30px;
   width: 10em;
 }
 .navbar-brand{
   text-align: center;
   margin: 0 1em;
   padding: 0
  }
.btn-menu{
  display: inline-block;
}
 #wrapper {
   padding-top: 3em;
    padding-left: 0;
    transition: all 0.5s ease;
    overflow: hidden;
 }
 
 /* #wrapper.toggled {
    padding-left: 250px;
    /* overflow: hidden; 
 }
  */
 #sidebar-wrapper {
  top: 8%;
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  transition: all 0.5s ease-in;
  display: none;
 }
 .fa-sign-out-alt{
  color : rgb(230,0,126)
 }
 /* #wrapper.toggled #sidebar-wrapper {
    width: 250px;
 }
  */
 #page-content-wrapper {
    padding: 15px;
    width: 100%;
    display: none;
    width: 100%;
    overflow-x: hidden;
 }
 
 /* .xyz {
    min-width: 360px;
 } */
 
 /* #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
 } */
 
 .fixed-brand {
    width: 100%;
    display: flex;
    justify-content: space-around
 }
 /* Sidebar Styles */
 
 .sidebar-nav {
    position: fixed;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #000000;

 }
 
 .sidebar-nav li {
    text-indent: 5px;
    line-height: 40px;
 }
 
 .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
 }
 
 .sidebar-nav li a:hover {
    text-decoration: none;
    color: #999999;
    background: rgba(255,229,33);
    border-left: white 2px solid;
 }
 
 .sidebar-nav li a:active,
 .sidebar-nav li a:focus {
    text-decoration: none;
 }
 
 .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
 }
 
 .sidebar-nav > .sidebar-brand a {
    color: #999999;
 }
 
 .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
 }
 
 .no-margin {
    margin: 0;
 }
 .navbar-default {
  background-color: #ffffff;

}
.navbar-default {
  background-color: #ffffff;

}
.logo-signOut{
  font-size: 20px;
  margin: 0 .3em;
}
.logo-signOut a{
  vertical-align: center;
}
.main{
  
  top: 10%;
}
.contentTotalDatos{
  display: flex;
  width: 60%;
  margin: 0.5% auto;
  padding: 1%;
  justify-content: space-around;
  border: 2px solid #F0F0F0;
}
.contentTotalCohort{
  text-align: center;
  padding: 2% 4%;
  background-color: #E5E5E5;
  border: 2px solid #F0F0F0;
}

.contentTotalCohort h5{
  font-size: 15px;
  font-weight: 600
}
.contentTotalCohort h3{
  font-size: 20px;
}
.contentTotalCourses{
  text-align: center;
  padding: 2% 4%;
  background-color: #E5E5E5;
  border: 2px solid #F0F0F0;
}

.contentTotalCourses h5{
  font-size: 15px;
  font-weight: 600
}
.contentTotalCourses h3{
  font-size: 20px;
}

.contentCohort{
  display: flex;
}
.content h4{
  font-size: 20px;
  font-weight: 100;
}
.search {
  padding: 1% 0
}

.optionsSelect {
  margin-bottom: 10px;
}

.searchStyle{
  display: inline-block;
  width: 75%;
  margin-left:3px;
  height: 27px;
  padding: 0 0 0 5px;
  font-size: 12px;
}
.selectsDetails{
  text-align: center;
}
.form-control-sm{
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
  height: 25px;
  padding: 0.5%;
}
.col-form-label{
  font-size: 13px;
  margin-left: 5%;
}
.form-check-label{
  font-size: 12px;
}
#page-content-wrapper .btn{
  font-size: 15px;
  width: 85%;
  height: 50px;
  border-radius: 0;
  padding: 0;
  margin: 1% auto;
  white-space: normal;
}
.content .col-12{
  text-align: center
}
#page-content-wrapper .row{
  justify-content: center
}
.contentCohortSelect{
  display: none;
  padding: 15px;
  width: 100%;
} 
#cohortSelect h2{
  font-size : 0.85rem;
  margin: 5% 0;
}
.card{
  text-align: center;
}
.card h5{
  font-size: 0.95rem;
  margin: 1% 0
}
.card-body{
  padding: 0.5rem
}
.card img{
  width: 37%;
  height: 100px;
  margin: 5% auto
}
.cardTotalData{
  display: flex;
}
.partTotal{
  width: 55%;
}
.divProgress{
  margin-bottom: 0.3rem;
}
.divProgress h6{
  font-size: 0.7rem;
  margin-bottom:0.2rem;
  margin-left: 5%;
  text-align: left
}
.showProgress{
  display: flex;
}
.showProgress h4{
  font-size: 0.6rem
}
.progress{
  width: 100%;
  height: 0.6rem;
  margin-left: 2%
}
@media (min-width: 576px){
  .col-sm-4 {
    padding: 2px;
}
}

 @media(min-width:768px) {
    #wrapper {
       padding-top: 3.8em
    }
    .fixed-brand {
       width: 100%;
       display: flex;
       justify-content: space-between;
    }
    .navbar-toggler{
      font-size: 1.7em;
    }
    .navbar-toggler-icon{
      height: 1em;
    }
    .navbar-brand>img{
      height: 40px;
      width: 16em;
    }
    #sidebar-wrapper {
       width: 250px;
       display: block;
       position: fixed;
       top: 10.5%;
    }
    #wrapper.toggled #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
       width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
       width: 250px;
    }

    .navbar-nav{
      display: none;
    }
    .navbar{
      border-radius: 0;
      height: 60px;
      border-bottom: 1px solid #c7c7c7;
      box-shadow: 10px 5px 5px #c7c7c7;
    }
    .logo-signOut{
      font-size: 30px;
      right: 2%;
    }
    #page-content-wrapper .btn {
      font-size: 14px;
      width: 90%;
  }
  .optionsSelect{
    display: flex;
    justify-content: space-around
  }
  .search, .selectsDetails{
    width: 50%;
  }

  .selectsDetails{
    padding: 1.5%;
  }
  .searchStyle{
    width: 65%;
  }
  .col-form-label{
    font-size: 17px;
  }
  .form-control-sm{
    font-size: 14px;
    height: 30px;
  }
  .form-check-label{
    font-size: 14px;
  }
#cohortSelect h2 {
    font-size: 1.2rem;
    margin: 2% 0;
}
 }


 @media only screen and (min-width: 992px) {
    #sidebar-wrapper {
      display: block !important;
      position: fixed;
      top: 3.8em
    }
    .main{
      background-image: url(./imagenes/mapa.png);
      padding-left: 15px;
      width: 100vw;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .navbar-brand{
      width: 20%;
      margin: 0 .5em;
     }

    .navbar-brand>img{
      height: 40px;
    }
    #page-content-wrapper {
      display: none;
      padding: 15px;
      width: 100%;
   }
    .contentTotalDatos{
      display: flex;
      width: 50%;
      margin: 0.5% auto;
      padding: 1%;
      justify-content: space-around;
      border: 2px solid #F0F0F0;
    }
    .contentTotalCohort{
      text-align: center;
      padding: 2% 4%;
      background-color: #E5E5E5;
      border: 2px solid #F0F0F0;
    }

    .contentTotalCohort h5{
      font-size: 20px;
      font-weight: 600
    }
    .contentTotalCohort h3{
      font-size: 25px;
    }
    .contentTotalCourses{
      text-align: center;
      padding: 2% 4%;
      background-color: #E5E5E5;
      border: 2px solid #F0F0F0;
    }

    .contentTotalCourses h5{
      font-size: 20px;
      font-weight: 600
    }
    .contentTotalCourses h3{
      font-size: 25px;
    }

    .contentCohort{
      display: flex;
    }
    .content h4{
      font-size: 30px;
      font-weight: 100;
    }

    .optionsSelect {
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
    }
    .search{
      width: 40%;
      padding: 1%
    }
    .searchStyle{
      display: inline-block;
      width: 80%;
      margin-left:10px;
      font-size: 15px
    }
    .selectsDetails{
      width: 40%;
      text-align: center;
      margin: 1%;
    }
    .form-control-sm{
      width: 75%;
      margin: 0 auto;
      height: 30px;
      font-size: 15px;
    }
    .form-check-label{
      font-size: 15px;
    }
    #page-content-wrapper .col-sm-4{
      max-width: 31.5%;
      margin: 0.5%;
      border-radius: 0;
      padding: 0;
    }
    #page-content-wrapper .btn{
      font-size: 15px;
      width: 100%;
      height: 50px;
      border-radius: 0;
      padding: 0;
      white-space: normal;
    }
    #page-content-wrapper .row{
      justify-content: center
    }
    .contentCohortSelect{
      display: none;
      padding: 15px;
      width: 100%;
    } 
    .card{
      text-align: center;
    }
    .card-body{
      padding: 0.5rem
    }
    .card img{
      width: 40%;
      height: 20%;
      margin: 2% 4%;
    }
    .cardTotalData{
      display: flex;
    }
    .partTotal {
      width: 50%;
    }
    .showProgress {
      display: flex;
    }
    .showProgress h4{
      margin: 0 2px;
      font-size: 0.7rem
    }
    .progress{
      width: 100%;
      margin: 2px 0;
      height: 0.6rem;
    }
    .divProgress h6{
      font-size: 0.7rem

    }
    #cohortSelect h2{
      font-size : 1.3rem;
      margin: 2% 0;
    }
  }
